.container{
  margin: 0 auto;
  width: 600px;
  background-color: lightgoldenrodyellow;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

p{
  color: darkblue;
  text-decoration: none;
  text-transform: uppercase;
}
.drink-act{
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.btn{
  margin: 15px;
  padding: 5px;
  width: 70px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: yellowgreen;
  text-align: center;
  color: darkblue;
  font-family: 'Lato', sans-serif;
  vertical-align: middle;
}


