<div class="form-gender">
  <p>choose gender:</p>
  <form>
    <input type="radio" name="gender" value="male" checked>male
    <input type="radio" name="gender" value="female">female
  </form>

  <div class="form-age">
    <p>choose your age</p>
    <select name="age" id="age">
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
  </div>

  <button (click)="onNavigate()">Navigate to Weight!</button>
</div>

