<div class="form-weight">
  <p>choose your weight</p>
  <select name="weight" id="weight">
    <option value="50">50kg</option>
    <option value="60">60kg</option>
    <option value="70">70kg</option>
  </select>

  <button (click)="navigateToDrink()">Navigate To Drink!</button>
</div>
