<div class="form-weight">
  <div class="select-weight">
  <p>choose your weight</p>
  <select name="weight" id="weight">
    <option value="50">50kg</option>
    <option value="60">60kg</option>
    <option value="70">70kg</option>
  </select>
  </div>
<div class="buttons">
  <button class="btn"(click)="navigateToGender()">Navigate To Gender!</button>
  <button class="btn"(click)="navigateToDrink()">Navigate To Drink!</button>
</div>
</div>
