.btn {
  margin: 15px;
  width: 150px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #8d81ac;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 32px;
  text-transform: capitalize;
  border-radius: 30px;
}
.form-weight{
 display: flex;
  flex-direction: column;
  justify-content: center;
}
