
<div class="container">
  <div class="nav-bar">
    <a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Gender</a>
    <a [routerLink]="['weight']" routerLinkActive="active-link">Weight</a>
    <a [routerLink]="['drink']" routerLinkActive="active-link">Drink</a>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!--<app-gender-data></app-gender-data>-->
  <!--<app-weight-data></app-weight-data>-->


  <!--<div class="form-drink">-->

  <!--<form class="drink-act">-->
  <!--<input type="radio" name="drink" value="vine" checked>Vine-->
  <!--<input type="radio" name="drink" value="Martini">Martini-->
  <!--<input type="radio" name="drink" value="Champagne">Champagne-->
  <!--<input type="radio" name="drink" value="Beer">Beer-->
  <!--<input type="radio" name="drink" value="Whisky">Whisky-->
  <!--<input type="radio" name="drink" value="Cognac">Cognac-->
  <!--<input type="radio" name="drink" value="Rum">Rum-->
  <!--<input type="radio" name="drink" value="Vodka">Vodka-->
  <!--<input type="radio" name="drink" value="Gin">Gin-->
  <!--<input type="radio" name="drink" value="Jagermeister">Jagermeister-->
  <!--<input type="radio" name="drink" value="Sambuca">Sambuca-->
  <!--<input type="radio" name="drink" value="Absent">Absent-->
  <!--<input type="radio" name="drink" value="Mexican-shot">Green Mexican shot-->
  <!--<input type="radio" name="drink" value="B-52-shot">B-52 shot-->
  <!--</form>-->
  </div>




