.container{
  margin: 0 auto;
  width: 600px;
  background-color: lightgoldenrodyellow;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.nav-bar {
  display: flex;
  background-color: #333333;
  height: 70px;
  justify-content: center;
  align-items: center;
}
a {
  color: #fff;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-size: 32px;
  line-height: 77px;

}

p{
  color: darkblue;
  text-decoration: none;
  text-transform: uppercase;
}
.drink-act{
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.active-link {
  color: #8d81ac;
  text-decoration: underline;

}
img {
  width: 300px;
  height: 300px;
}

