.sub-nav{
  position: relative;
  top: 50px;
}

.drink-content{
  position: relative;
  top: 70px;
  width: 100px;
  background-color: teal;
}

.active-drink-link{
  font-weight: 700;
  color: indigo;
}
