<div class="sub-nav">

  <a [routerLink]="['vine']" routerLinkActive="active-drink-link">vine || </a>
  <a [routerLink]="['gin']" routerLinkActive="active-drink-link">gin || </a>
  <a [routerLink]="['beer']" routerLinkActive="active-drink-link">beer || </a>
  <a [routerLink]="['greenMexican']" routerLinkActive="active-drink-link">green mexican || </a>
  <a [routerLink]="['sambuka']" routerLinkActive="active-drink-link">sambuka || </a>
</div>
<div class="drink-content">
  <router-outlet></router-outlet>
</div>
