<div class="sub-nav">
  <p>choose alcohol drink:</p>
  <a [routerLink]="['beer']" routerLinkActive="active-drink-link">beer || </a>
  <a [routerLink]="['gin']" routerLinkActive="active-drink-link">gin || </a>
  <a [routerLink]="['green-mexican']" routerLinkActive="active-drink-link">green mexican || </a>
  <a [routerLink]="['sambuka']" routerLinkActive="active-drink-link">sambuka || </a>
  <a [routerLink]="['vine']" routerLinkActive="active-drink-link">vine || </a>
</div>
<div class="drink-content">
  <router-outlet></router-outlet>
</div>
<div class="drink-count">
<p>how much would you like to drink:</p>
<form class="alcohol-count">
<input type="radio" name="count" value="100ml" checked>100ml
<input type="radio" name="count" value="200ml" >200ml
<input type="radio" name="count" value="300ml" >300ml
<input type="radio" name="count" value="400ml" >400ml
</form>
</div>

<button class="btn">get result</button>

